.faq{
    background-color: var(--main-background-opacity);
}

.faq__container{
    width: 90%;
    max-width: var(--width-container);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 100px 0;
   
}


.faq__container>h1{
    font-size: 3rem;
    text-align: center;
    color: var(--uniklinic-color);
}

@media screen and (max-width: 500px) {
    .faq__container>h1{
    }
    
}


.faq__card{
    display: flex;
    flex-direction: column;
}

.faq__header{
    display: flex;
    color: var(--main-white-color);
    align-items: center;
    justify-content: space-between;
    font-size: 1.4rem;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid var(--uniklinic-color);

}

.faq__header>span{
    font-size: 2rem;
    cursor: pointer;
    transition: 1s ease;
}


.faq__content{
    display: none;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    padding: 10px;
    justify-content: center;
    color: var(--main-gray-color);
    width: 100%;
    margin: 0 auto;
    max-width: 650px;
    opacity: 0;
    transition: opacity 1s ease, visibility 1s ease;
}

.faq__content>img{
    border-radius: 15px;
}

.faq__content>p{
    font-size: 1.2rem;
}
@media screen and (max-width: 500px) {
    .faq__content{
        
        max-width: 650px;
    }
    .faq__content>img{
        width: 100%;
        max-width: 650px;
    }
}

@media screen and (max-width: 350px) {
    .faq__container>h1{
        font-size: 2rem;
    }
}