
.header{

    height: 90px;
    margin: 1rem 0;
}

.header__container{
    width: 90%;
    max-width: var(--width-container);
    margin: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo > img{
    width: 80%;
    max-width: 380px;
    min-width: 240px;
}

.header__nav > div{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 50px;
    gap: 2rem;
    
}

.header__nav > div > a {
    color: var(--main-gray-color);
    font-weight: 500;
    font-size: 1.3rem;
}

.header__nav > div > a:hover{
    color: var(--main-gray-color-hover);
}


.header__button{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.5rem;
    background-color: var(--whatsapp-color);
    color: white;
    font-size: 1rem;
    height: 50px;
    padding: 1rem;
    margin-left: 25px;
    border-radius: 0.5rem;
    width: 80%;
    min-width: 200px;
    max-width: 200px;
}

.header__button>img{
    height: 2rem;
    margin: 0.2rem;
}

.menu__hamburguer{
    display: none;
}

@media (max-width:940px) {

    .menu__hamburguer{
        font-size: 4rem;
        color: var(--main-gray-color);
        display: block;
        z-index: 999;
    }

    .header__container{
        width: 90%;
        justify-content: space-between;
    }

    .header__nav {
        display: none;
    }

    .header__button{
        display: none;
    }
}


.menu-open {
    position: fixed;
    right: 0;
    width: 500px;

    height: 500px;
    width: 100%;
    max-width: 300px;
    
    /* background-color: rgba(0, 0, 0, 0.7); */
    z-index: 1000;
    display:none;
    justify-content: center;
    animation: slideIn 0.3s ease-out;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.menu__header{
    display: flex;
    justify-content: right;
}

.menu__content {
    
    width: 100%;
    height: 50%;
    margin-top: 7rem;
    position: relative;
    top: -6rem;
    
}

.menu__list{
    width: 100%;
    
    background-color: var(--option-black-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.menu__content a {
    font-size: 1.7rem;
    margin-bottom: 1rem;
    text-decoration: none;
    color: var(--main-gray-color);
    padding: 1rem 2rem;
    
    text-align: right;
}

.menu__close {
    font-size: 4rem;
    color: var(--option-white-color);
    padding-left: 50px ;
    color: transparent;
    cursor: pointer;
    /* margin-bottom: 2rem; */
}

.menu__close:hover {
    color: gray;
}